.hero {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  background: #2f3b54;
  width: 360px;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: #b8ceff;
}

.card a {
  color: #5ccfe6;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.badge {
  background: #1d2433;
  padding: 0.25rem 0.5rem;
  color: #bae67e;
  display: inline;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.btn-link {
  align-items: center;
  appearance: none;
  background: #2f3b54;
  border: 1px solid #6c7894;
  border-radius: 24px;
  color: #e6e6e6;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.25rem;
  letter-spacing: 0;
  line-height: 1;
  padding: 0.5rem 0.6rem;
  white-space: nowrap;
  text-decoration: none;
}

a.btn-link {
  color: #e6e6e6;
}

.btn-link:hover {
  border: 1px solid #8694b6;
}

a.btn-link:hover {
  text-decoration: none;
  color: #ffffff;
}
